html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;     /* n.b. we are referencing fonts via fonts.googleapis.com */
  font-size: 1.6em;                               /* using `em` instead of `rem` in body b/c bug in chrome (use `rem` in all other areas) */
  font-weight: normal;
  color: rgb(120,120,120);
  line-height: 1.5;
  min-height: 100vh;
  background: #069ce1;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(120,120,120);
}
a:active,
a:visited {
  color: rgb(120,120,120);
}

a,
button,
input,
textarea,
input::-moz-focus-inner,
button::-moz-focus-inner {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

strong {
  font-weight: normal;
}

i {
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

label {
  margin: 0;
}
